.middle {
    max-width: 500px;
}

input[type="text"] {
    width: 100%;
}
input[type="text"]{
    color: black;
    font-weight: bold;
}
input[type="text"]::placeholder{
    font-style: italic;
    font-weight: normal;
}
.middle{
    padding: 0;
}
.text_field{
    min-width: 250px;
    max-width: 250px;
}

.title_null::placeholder {
    color: red;
}

.title p {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: large;
    vertical-align: bottom;
}

#form-body {
    margin: 0;
    padding: 0;
}
.button-div,#content{
    padding: 0;
}
.content{
    max-width: 550px;
    width: 550px;
    max-height: 300px;
    text-align: left;
    overflow-x: hidden;
    overflow-y: scroll;
}
#content{
    margin: 10px;
}