.nav-button {
    background-color: #eef4f6;
    border: 1px solid #c9dbe9;
    color:#3e6e8e;
    margin: 2px;

}
.selected-page{
    background-color: #3e6e8e;
    color:#eef4f6;
}
.inactive-page{
    color:#83adc9;
}
.space_buttons{
    border: none;
    background-color: transparent;
}