/*set atributes for arrow buttons*/
#article-link, #category-link {
    border: 0;
    border-radius: 20%;
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: url("/static/Admin/images/button-left.png");
    background-size: 40px 40px;
}

#article-link[type="submit"]:hover, #category-link[type="submit"]:hover {
    background-image: url("/static/Admin/images/button-left-checked.png");
}

/*clases that wiil change image of buttons*/
.link-true {
    background-image: url("/static/Admin/images/button-left-true.png") !important;
}

.link-false {
    background-image: url("/static/Admin/images/button-left-false.png") !important;
}

.link-none {
    background-image: url("/static/Admin/images/button-left.png");
}
/*set overflow option for items tables*/
#elements-list{
    text-align: left;
    overflow-x: hidden;
    overflow-y: scroll;
}

/*cell with textarea*/
.search-list, .quark-presence-column .quark-presence-container, .list-options {
    padding: 0;
    margin: 0;
}

#list-left, #list-right {
    min-width: 300px;
}

#list-center {
    max-width: 50px;
}

/*set width for search area*/
.search {
    min-width: 270px;
    max-width: 400px;
}


/*set height for right tabels*/
.items-list {
    max-height: 325px;
    min-height: 325px;
}

/*set bold font for elements inside left table*/
#content-container{
    margin: 0;
}

/*set properties for left table in top that contains category path*/
#route-row {
    border: 0.5px solid grey;
    width: 100%;
    height: 21px;
}

/*set style to route points*/
.route-points {
    margin: 0;
    padding: 0 3px 0 3px;
    color: black;
    border:0.5px solid grey;
    border-top-width:0;
    border-bottom-width:0;
    text-align: left;
}

/*set no border for row with values*/
.category-values, .article-values {
    padding-left: 0;
    padding-right: 0;
    word-wrap: break-word;
}

/*----------------------------------------------------------------------------------------------------*/

.actions-buttons {
    background: #5f7a96;
    border-radius: 30px;
    border: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25184);
    color: #ffffff;
    font-size: 24px;
    height: 60px;
    line-height: 1.428571429;
    opacity: 1.00;
    padding: 6px 0;
    text-align: center;
    width: 60px;
}

.actions-buttons:hover {
    color: red;
}

.actions-forms {
    display: none;
}
.actions-categories {
    color: black;
}
/*-----------------------------------------------------------------------------------------*/
.current-pages-article .quark-presence-column,
.current-pages-category .quark-presence-column,
#nav-bar-category .quark-presence-column,
#nav-bar-article .quark-presence-column,
.navigation-container .quark-presence-column,
.current-pages,
#category-column,
#article-column
{
    margin: 0;
}

.navigation-container .quark-presence-column {
    margin-top: 5px;
    padding: 0;
}

/*navigation buttons*/
.nav-button {
    background-color: #eef4f6;
    border: 1px solid #c9dbe9;
    color: #3e6e8e;
    margin: 2px;
}

.selected-page {
    background-color: #3e6e8e;
    color: #eef4f6;
}

.inactive-page {
    color: #83adc9;
}

.space_buttons {
    border: none;
    background-color: transparent;
}

.list-options {
    vertical-align: bottom;
}

.list-options input {
    font-size: 12px;
}

/*article list*/
#article-list, #category-list {
    max-width: 570px;
}

.ids {
    max-width: 50px;
    min-width: 50px;
    margin-left: 5px;
    padding: 0;
}


.contents, .contents textarea {
    max-width: 150px;
    min-width: 150px;
    text-align: left;
}
.contents.category-values, .category-values.contents textarea,.category-titles.contents{
    max-width: 200px;
    min-width: 200px;
}

.content-row .quark-presence-column , .category-titles,.article-titles{
    margin: 5px;
    text-align: left;
}
.middle{
    max-width: 500px;
}
.content-actions:hover{
    text-decoration: none;
}
.current-items .quark-presence-column{
    margin: 5px;
}
.current-items .titles{
    max-width: 190px;
    min-width: 190px;
}
.current-items .ids{
    max-width: 40px;
}
.delimitator{
    margin: 20px 0 10px 0;
    border-top: 2px solid grey;
}