.logins {
    max-width: 80px;
    min-width: 80px;
}
.names{
    max-width: 140px;
    min-width: 140px;
}
.emails{
    max-width: 200px;
    min-width: 200px;
}
.rights {
     max-width: 50px;
     min-width: 50px;
 }
.main4{
    max-width: 730px;
}