.main2{
    max-width: 589px;
}
.ids{
    max-width: 35px;
    min-width: 35px;
}
.content-values {
    font-size: 13px;
}
.events{
    max-width: 100px;
    min-width: 100px;
}
.titles {
    max-width: 200px;
    min-width: 200px;
}
.users{
    max-width: 55px;
    min-width: 55px;
}
.contents{
    max-width: 160px;
    min-width: 160px;
}