/*search bar and checkbox*/
.search-list {
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
}

.search-list li {
    display: inline-block;
}

/*set properties for cells with action buttons*/
.content-actions {
    font-size: 20px;
    text-decoration: none;
    color: black;
    padding-left: 5px;
}

.content-actions:hover {
    color: #ff3300;
}

/*set overflow option for items tables*/
.items-list {
    text-align: left;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 5%;
}

.content-row:hover {
    background-color: rgb(51, 122, 183) !important;
    color: white !important;
}

#content-container .quark-presence-container {
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
.content-titles{
=======
.content-titles {
>>>>>>> 870b27ccbd3ae15e497f7464e0a2c2e5474356b4
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
}
<<<<<<< HEAD
=======

>>>>>>> 870b27ccbd3ae15e497f7464e0a2c2e5474356b4
#content-column {
    margin: 0;
}

.ids {
<<<<<<< HEAD
    max-width: 20px;
    min-width: 20px;
    margin-left: 5px;
}
=======
    max-width: 35px;
    min-width: 35px;
    margin-left: 5px;
}

>>>>>>> 870b27ccbd3ae15e497f7464e0a2c2e5474356b4
.content-values {
    word-wrap: break-word;
    font-size: 15px;
}
<<<<<<< HEAD
.contents{
    max-width: 190px;
    min-width: 190px;
}
.contents textarea{
=======

.contents {
    max-width: 190px;
    min-width: 190px;
}

.contents textarea {
>>>>>>> 870b27ccbd3ae15e497f7464e0a2c2e5474356b4
    min-width: 190px;
    max-width: 190px;
    text-align: left;
}
<<<<<<< HEAD
.items-list {
    border:1px solid lightgray;
}
.search{
=======

.items-list {
    border: 1px solid lightgray;
}

.search {
>>>>>>> 870b27ccbd3ae15e497f7464e0a2c2e5474356b4
    width: 100%;
}

.titles {
    max-width: 150px;
    min-width: 150px;
}

<<<<<<< HEAD
.content-titles.dates{
=======
.content-titles.dates {
>>>>>>> 870b27ccbd3ae15e497f7464e0a2c2e5474356b4
    margin-left: 10px !important;
}

.dates {
    max-width: 80px;
    min-width: 80px;
}
<<<<<<< HEAD
.types{
=======

.types {
>>>>>>> 870b27ccbd3ae15e497f7464e0a2c2e5474356b4
    max-width: 30px;
    min-width: 30px;
}

.names {
    max-width: 190px;
    min-width: 190px;
}
<<<<<<< HEAD

/*button to add new item*/
.button-add {
    background: #5F7A96;
    border-radius: 30px;
    border: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25184);
    color: #FFFFFF;
=======
.actions{
    max-width: 53px;
}
/*button to add new item*/
.button-add {
    background: #5f7a96;
    border-radius: 30px;
    border: 0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25184);
    color: #ffffff;
>>>>>>> 870b27ccbd3ae15e497f7464e0a2c2e5474356b4
    font-size: 24px;
    height: 60px;
    line-height: 1.428571429;
    opacity: 1.00;
    padding: 6px 0;
    text-align: center;
    width: 60px;
}

.button-add:hover {
    color: red;
}
<<<<<<< HEAD
#button-add-column{
=======

#nav-bar .quark-presence-column
,#list-options .quark-presence-column
,#button-add-column
,.current-pages .quark-presence-column
{
>>>>>>> 870b27ccbd3ae15e497f7464e0a2c2e5474356b4
    margin: 0;
}