.site-logo-link {
    color: #fff;
}

.site-logo-link:hover {
    color: #fff;
    text-decoration: none;
}

.item-related-articles, .item-related-categories {
    margin-bottom: 10px;
}

.side-menu-list li {
    word-wrap: break-word;
    font-family: "Open Sans", sans-serif;
}

.item-content, #content-container{
    min-height: 600px;
}

.item-related-content{
    border-top: 1px solid rgba(81,38,60,.54);
    border-bottom: 1px solid rgba(81,38,60,.54);
    margin-bottom: 15px;
}
